* {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

body::-webkit-scrollbar {
	display: none;
}

body {
	position: relative;
	min-height: 100%;
	font-family: 'Inter', sans-serif;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content {
	margin: 50px 0px;
}

a {
	color: inherit !important;
	text-decoration: none !important;
}

.countainer1 {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.slogan {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.slogan .sub-head {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #E28F11;
}

.slogan .head {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	color: #000000;
}

.slogan .sub {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}

/* tombol */
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px auto;
	width: 200px;
	padding: 20px;
	background: #E28F11;
	border-radius: 8px;
	color: white !important;
}

a {
	color: white;
	text-decoration: none;
}

.container2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact {
	margin: 30px;
}

.gambar2 img {
	height: 400px;
}

.kontencard {
	padding: 30px;
	margin: 20px auto;
	width: 50%;
	display: flex;
	flex-direction: column;
	place-items: center;
	border-radius: 5px;
	font-weight: bold;

}

.navbar {
	background-color: #0A061C;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.navbar-logo {
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: bold;
}

.navbar-logo img {
	height: 30px;
	margin-right: 10px;
}

.navbar-menu {
	display: flex;
	align-items: center;
}

.navbar-menu a {
	color: white;
	margin-right: 20px;
	text-decoration: none;
	font-weight: bold;
	width: fit-content;
	height: fit-content;
}

.navbar-menu a:has(img) {
	display: flex;
	width: fit-content;
	height: fit-content;
}

.navbar-menu a:last-child {
	margin-right: 0;
}

.navbar-menu img {
	height: 20px;
	width: 32;
	margin-left: 10px;
}

.opsiFooter span {
	margin-left: 8px;
}

.footerKiri {
	background-color: #0A061C;
	padding: 25px;
	text-align: left;
	flex-basis: 60%;
	line-height: 5%;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.footerTengah2 {
	bottom: 0;
}

.logoSosmed {
	line-height: 0%;
	font-size: small;
	width: 70%;
	text-decoration: none;
	display: flex;
	gap: 15px;
}

.logo {
	width: 18px;
	fill: white;
}

.footer {
	background-color: #0A061C;
	color: white;
	display: flex;
	align-items: center;
	padding: 10px;
	width: 100%;
}

.footer p {
	margin-bottom: 1rem;
}

.footer-item {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.footerTengah p,
.footerTengah2 p,
.footerKanan p {
	margin-bottom: 0;
}

.footer2 {
	display: flex;
	flex-basis: 50%;
	justify-content: space-around;
}

.OurTeam {
	display: flex;
	justify-content: center;
	margin: 20px 0;
	flex-direction: column;
	align-items: center;
}

.OurFoto {
	margin-top: 30px;
	display: flex;
	gap: 100px;
	justify-content: space-between;
}

.OurFoto2 {
	margin-top: 30px;
}

.OurFoto-1 {
	width: 240px;
	height: 240px;
	object-fit: cover;
	border-radius: 50%;
	object-position: 0 0.2px;
}